.container {
    width: 600px;
    margin: auto;
    margin-top: 100px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 20px 50px;
}

.container hr {
    height: 2px;
    border: none;
    background: #707070;
}

.container h2 {
    font-size: 20px;
    font-weight: 500;
}

.container ul li{
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
}

.container ul li:hover{
    transform: scale(1.03); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.container button {
    margin: auto;
    width: 250px;
    height: 50px;
    background: #553f9a;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.container button:hover {
    transform: scale(1.03); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.container .index {
    margin: auto;
    margin-bottom: 5px;
    font-size: 18px;
}

.container .correct {
    background: #dffff2;
    border-color: #00d397;
}

.container .wrong {
    background: #ffebeb;
    border-color: #ff4a4a;
}

@media (max-width: 480px) {
    .container {
        width: 60%;
        padding: 20px;
        margin-top: 90px;
    }

    h1 {
        font-size: 20px;
        text-align: center;
    }

    h2 {
        font-size: 16px;
        text-align: left;
    }

    .container ul li {
        font-size: 16px;
        height: 50px;
        margin-bottom: 15px;
    }

    .container button {
        width: 230px;
    }

  .index {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
}
